*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    margin-left: 105px;
    margin-top: 41px;




}

.link {

    color: #17233D;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-right: 36px;
    width: 79px;
    height: 21px;
    cursor: pointer;

}

.button-sign-up {

    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    cursor: pointer;
    }

    img {

        width: 595.178px;
        height: 500.005px;
        flex-shrink: 0;
        margin: 163px 0 0 123px;
        display: inline-block;
       
    }

    section {

        display: inline-block;
        margin-left: 85px;
        width: 498px;
    }

    h1 {

        color: #161A49;
        font-size: 62px;
        font-weight: 700;
        line-height: 82px; 
        letter-spacing: 0.596px;
        

    }

    p{

        color: #4B505A;
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin-top: 47px;
        margin-bottom: 55px;
        
        
    }

    .button-learn-more {


        color: #6FBF44;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        cursor: pointer;
        background: transparent;
        border: none;
    }
    